<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/welcome.css">
    <title>Welcome</title>
</head>

<body>
    <div class="welcome-container">
        <div class="welcome-box">
            <h1>Welcome, <span>
                    <%= username %>
                </span>!</h1>
            <p>We’re glad to have you here. Explore and enjoy your experience!</p>
        </div>
    </div>
</body>

</html>